# Dependencies
**/node_modules/
**/vendor/

# Environment & secrets
**/.env
**/.env.*
!**/.env.example

# Build outputs
**/dist/
**/www/
**/public/build/
**/public/hot/

# Laravel / storage
**/storage/*.key
**/bootstrap/cache/*
/storage/pail

# Logs & caches
*.log
.npm/
.angular/

# IDE / OS
.idea/
.vscode/
.nova/
.zed/
.phpactor.json
*.swp
.DS_Store
Thumbs.db

# Laravel specific
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/auth.json
/public/storage

# Project backups
TansTrack/Commuters_BACKUP_*/

# Disabled nested git folder backups
**/.git_disabled/

# Laravel cache
Homestead.json
Homestead.yaml